node_modules
.history

yarn.error

subgraph.yaml

subgraph.ethereum.yaml
subgraph.goerli.yaml
subgraph.optimism.yaml
subgraph.optimism-goerli.yaml

networks/local.json
generated
generated/schema.ts
build

# Matchstick binaries
tests/.bin/